<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BMeterComm.Properties.Settings.BloodSpiderConnectionString"
            connectionString="Data Source=www.BloodSpider.com;Initial Catalog=BloodSpider;Persist Security Info=True;User ID=bloodspider;Password=1bloodspider"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>