<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IGTService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://pnuema/GlucaTrack_ServiceLibrary/GlucaTrack.Services.GTService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IGTService"
                contract="GlucaTrack.Services.IGTService" name="WSHttpBinding_IGTService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>