<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="APPLICATIONFOLDER">
      <Component Id="GlucaTrack.Communication.dll" Guid="36DC12DC-2C87-4A0F-A923-6BB5D6D9FAAB">
        <File Source="$(var.GlucaTrack.Services.Windows.TargetDir)\GlucaTrack.Communication.dll" KeyPath="no"/>
      </Component>
      <Component Id="GlucaTrack.Services.Common.dll" Guid="7A1A070E-FD80-4957-95B8-98AD70893A36">
        <File Source="$(var.GlucaTrack.Services.Windows.TargetDir)\GlucaTrack.Services.Common.dll" KeyPath="no" />
      </Component>
      <Component Id="GlucaTrack.Services.Windows.exe" Guid="46C5ECC5-4C3D-4B95-95FC-AC0CBF32679E">
        <File Source="$(var.GlucaTrack.Services.Windows.TargetDir)\GlucaTrack.Services.Windows.exe" KeyPath="yes" />
        <ServiceInstall Id="WiXServiceInstaller" 
                        Type="ownProcess"
                        Vital="yes"
                        Name="GlucaTrack Detector"
                        DisplayName="GlucaTrack Detector"
                        Description="Monitoring and management service for GlucaTrack diabetes management software."
                        Start="auto"
                        Account="LocalSystem"
                        ErrorControl="ignore"
                        Interactive="no"/>
        <ServiceControl Id="StartService"
                        Start="install"
                        Stop="both"
                        Remove="uninstall"
                        Name="GlucaTrack Detector"
                        Wait="yes" />
      </Component>
      <Component Id="GlucaTrack_ServiceNotifyIcon.exe" Guid="BA879B3E-5111-4B8F-A687-2644CA6C0FE9">
        <File Source="$(var.GlucaTrack_ServiceNotifyIcon.TargetDir)\GlucaTrack_ServiceNotifyIcon.exe" KeyPath="no" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>