<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Vars.wxi ?>
	<Product Id="1F8C767C-4B93-4E04-A9F2-55938F77D9FB" Name="$(var.ProductName)" Language="1033" Version="1.0.0.0" Manufacturer="Pnuema Productions" UpgradeCode="f3b10b1f-f6ca-4296-b047-5c308279e52f">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    
		<MajorUpgrade DowngradeErrorMessage="A newer version of $(var.ProductName) is already installed." />
		<MediaTemplate CompressionLevel="high" EmbedCab="yes" />
    
    <Property Id="WixAppFolder" Value="WixPerMachineFolder" />

    <!-- Images during install -->
    <WixVariable Id="WixUIBannerBmp" Value="Banner.jpg"/> 
    <WixVariable Id="WixUIDialogBmp" Value="Dialog.jpg"/>

    <!-- Type of UI to use -->
    <Property Id="WIXUI_INSTALLDIR" Value="APPLICATIONFOLDER"/>
    <UIRef Id="WixUI_InstallDir" />

    <!-- Set icon for add/remove programs -->
    <Icon Id="icon" SourceFile="$(var.GlucaTrack_ServiceNotifyIcon.TargetDir)\GlucaTrack_ServiceNotifyIcon.exe" />
    <Property Id="ARPPRODUCTICON" Value="icon" />
    
    <!-- Define feature set of components -->
    <Feature Id="Service" Title="$(var.ProductName)" Level="1">
			<ComponentRef Id="GlucaTrack.Communication.dll" />
      <ComponentRef Id="GlucaTrack.Services.Common.dll" />
      <ComponentRef Id="GlucaTrack.Services.Windows.exe" />
      <ComponentRef Id="GlucaTrack_ServiceNotifyIcon.exe" />
    </Feature>
	</Product>
</Wix>