<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GlucaTrack.Services.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <GlucaTrack.Services.Common.Properties.Settings>
            <setting name="Encrypt_Key1" serializeAs="String">
                <value>58F9D95D80A441388F41642E5B169191</value>
            </setting>
            <setting name="Encrypt_Key2" serializeAs="String">
                <value>AA1CDB2242C74EAF859E531987408CCE</value>
            </setting>
            <setting name="Encrypt_Key3" serializeAs="String">
                <value>626D54F10AAC442AA24E6CE65FE92B4F</value>
            </setting>
            <setting name="Encrypt_Key4" serializeAs="String">
                <value>104FB99E06A040878E7EF56DB0D85729</value>
            </setting>
            <setting name="Encrypt_Key5" serializeAs="String">
                <value>E85F25B6E6064E2685F1DE592B851F7B</value>
            </setting>
            <setting name="Encrypt_Key6" serializeAs="String">
                <value>CF3F72F5B97D47C3B7C443D79EDEF157</value>
            </setting>
            <setting name="Encrypt_Key7" serializeAs="String">
                <value>1800E56F2F7C4CA0BD106477E2E38A79</value>
            </setting>
            <setting name="Encrypt_Key8" serializeAs="String">
                <value>7CC4AE6825684A5E9738A09328350944</value>
            </setting>
            <setting name="Encrypt_Key9" serializeAs="String">
                <value>15514619A56A41B08469190A83449336</value>
            </setting>
            <setting name="Encrypt_Key10" serializeAs="String">
                <value>25667027EFBF4887B1B8561B2985D983</value>
            </setting>
            <setting name="Encrypt_Key11" serializeAs="String">
                <value>4BB815BEDEBF4725A60C21A722F7A799</value>
            </setting>
            <setting name="Encrypt_Key12" serializeAs="String">
                <value>7FA79CE511FD484088BEE3690CA37BC3</value>
            </setting>
            <setting name="Encrypt_Key13" serializeAs="String">
                <value>B6EEF5B4A9C54A06A2AA5AD34A061314</value>
            </setting>
            <setting name="Encrypt_Key14" serializeAs="String">
                <value>98B6AE7778864BA2AF08297D01B6DA4F</value>
            </setting>
            <setting name="Encrypt_Key15" serializeAs="String">
                <value>750D1E0852014D43AC9848E336C95646</value>
            </setting>
            <setting name="Encrypt_Key16" serializeAs="String">
                <value>C105B22AFCCA4429A5C622DAD87C636B</value>
            </setting>
            <setting name="Encrypt_Key17" serializeAs="String">
                <value>0CCD3827AEB64A728203AAE50F299E6C</value>
            </setting>
            <setting name="Encrypt_Key18" serializeAs="String">
                <value>BF29572521A34271B09E6C482D9B9CFE</value>
            </setting>
            <setting name="Encrypt_Key19" serializeAs="String">
                <value>7C4566E5AE224C6CB8D048D26946EDE9</value>
            </setting>
            <setting name="Encrypt_Key20" serializeAs="String">
                <value>3DA37242B30B478CAAB62BDD50E82F2A</value>
            </setting>
            <setting name="Encrypt_Key21" serializeAs="String">
                <value>3B78F9C7FFCE4DAEA39AE38E4206D76E</value>
            </setting>
            <setting name="Encrypt_Key22" serializeAs="String">
                <value>972AD941208940CA8B838977B7B9EFA1</value>
            </setting>
            <setting name="Encrypt_Key23" serializeAs="String">
                <value>99FD0B26B5174CB5B5B8A9446212548A</value>
            </setting>
            <setting name="Encrypt_Key24" serializeAs="String">
                <value>B3ED9ECC534B4F1DA8648B363AF21793</value>
            </setting>
            <setting name="Encrypt_Key25" serializeAs="String">
                <value>4AC808147F23454AA886D9545374E312</value>
            </setting>
            <setting name="Encrypt_Key26" serializeAs="String">
                <value>14089462B97840DD9680E55761D10594</value>
            </setting>
            <setting name="Encrypt_Key27" serializeAs="String">
                <value>BA96D8CA8BA342C8A2FC19EF00AF82D7</value>
            </setting>
            <setting name="Encrypt_Key28" serializeAs="String">
                <value>F2DD46AF425C4948A9895ABB6E787C89</value>
            </setting>
            <setting name="Encrypt_Key29" serializeAs="String">
                <value>6D3F732F4BEC4865814E999A8583B86C</value>
            </setting>
            <setting name="Encrypt_Key30" serializeAs="String">
                <value>69076172AFAF4EADABFB810EE2FD1813</value>
            </setting>
            <setting name="Encrypt_Key31" serializeAs="String">
                <value>309938A6D18C4039BAECCA1C6C2277A5</value>
            </setting>
            <setting name="defaultKey" serializeAs="String">
                <value>E441699041D7434797DBBF1493A5C15A</value>
            </setting>
        </GlucaTrack.Services.Common.Properties.Settings>
    </applicationSettings>
</configuration>