<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product Version="1.0.1" Id="b01ec04a-59c3-4600-bbaf-5c8e2e2245d3" Name="GlucaTrack" Manufacturer="GlucaTrack" UpgradeCode="d7969321-0242-4910-8929-9cd5102ce44b" Language="1033" Codepage="1252">
    <Package Description="[Manufacturer] Service" Manufacturer="[Manufacturer]" SummaryCodepage="1252" Languages="1033" InstallerVersion="400" Keywords="Installer" Compressed="yes" />
    
    <Upgrade Id="b01ec04a-59c3-4600-bbaf-5c8e2e2245d3">
      <UpgradeVersion OnlyDetect="no" Property="GLUCATRACK_PREVIOUSVERSIONFOUND" IncludeMinimum="yes" Minimum="0.0.0" Maximum="1.0.0" IncludeMaximum="yes" />
    </Upgrade>
    
    <Icon Id="icon" SourceFile="$(var.GlucaTrack.Services.Windows.NotifyIcon.ProjectDir)\blood.ico"/>

    <Media Id="1" Cabinet="Setup_1.cab" EmbedCab="yes" DiskPrompt="CD-ROM #1" CompressionLevel="high" />
    
    <!--Check for .Net Framework 4.0-->
    <PropertyRef Id='NETFRAMEWORK40FULL'/>
    <PropertyRef Id='NETFRAMEWORK40CLIENT'/>
    <PropertyRef Id='NETFRAMEWORK40FULL_SERVICING_LEVEL'/>
    <PropertyRef Id='NETFRAMEWORK40CLIENT_SERVICING_LEVEL'/>
    
    <Condition Message="This application requires .NET Framework 4.0. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR (NETFRAMEWORK40FULL_SERVICING_LEVEL and NOT NETFRAMEWORK40FULL_SERVICING_LEVEL = "#0") OR (NETFRAMEWORK40CLIENT_SERVICING_LEVEL and NETFRAMEWORK40CLIENT_SERVICING_LEVEL = "#0")]]>
    </Condition>
    <Condition Message="You must not be an administrator to install this product.">Privileged</Condition>
    <Condition Message="This product requires Windows Vista or newer">VersionNT &gt;= 600</Condition>
    
    <!--<Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch GlucaTrack" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1" />-->
    <Property Id="DiskPrompt" Value="GlucaTrack Service Installation [1]" />
    <Property Id="ASSISTANCE_START_VIA_REGISTRY">1</Property>
    <Property Id="ApplicationFolderName" Value="[Manufacturer]" />
    <Property Id="WixAppFolder" Value="WixPerUserFolder" />
    <Property Id="WixShellExecTarget" Value="[#ID_435d5775_f4d0_445f_b5d4_f25fdf36b946]" />
    <Property Id="ARPPRODUCTICON" Value="icon" />
    <Property Id="ALLUSERS" Value="0" />
    <Property Id="QtExecCmdLine" Value='"[WindowsFolder]\System32\taskkill.exe" /F /IM $(var.GlucaTrack.Services.Windows.NotifyIcon.TargetFileName)'/>

    <CustomAction Id="ID1350" Property="TARGETDIR" Value="[APPLICATIONFOLDER]" HideTarget="no" />
    <CustomAction Id="ARP_HELPLINK" Property="ARPHELPLINK" Value="http://www.[Manufacturer].com" HideTarget="no" />
    <CustomAction Id="ARP_COMMENTS" Property="ARPCOMMENTS" Value="[Manufacturer] Uploading Service" HideTarget="no" />
    <CustomAction Id="ARP_URLINFOABOUT" Property="ARPURLINFOABOUT" Value="http://www.[Manufacturer].com" HideTarget="no" />
    <CustomAction Id="LaunchAppAfterInstall" FileKey="ID_435d5775_f4d0_445f_b5d4_f25fdf36b946" ExeCommand="" Return="asyncNoWait" />
    <CustomAction Id="MyProcess.TaskKill" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="immediate" Return="ignore"/>
    
    <WixVariable Id="WixUILicenseRtf" Value="EULA.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="Banner.jpg" />
    <WixVariable Id="WixUIDialogBmp" Value="Dialog.jpg" />

    <InstallExecuteSequence>
      <Custom Action='MyProcess.TaskKill' Before='InstallValidate'/>
      <LaunchConditions Sequence="100">NOT Installed</LaunchConditions>
      <AppSearch Sequence="300" />
      <CCPSearch Sequence="400">NOT Installed</CCPSearch>
      <RMCCPSearch Sequence="600">NOT Installed AND CPP_TEST</RMCCPSearch>
      <ValidateProductID Sequence="700" />
      <CostInitialize Sequence="800" />
      <FileCost Sequence="900" />
      <IsolateComponents Sequence="990">RedirectedDllSupport</IsolateComponents>
      <CostFinalize Sequence="1000" />
      <SetODBCFolders Sequence="1100">NOT Installed</SetODBCFolders>
      <MigrateFeatureStates Sequence="1200" />
      <InstallValidate Sequence="1400" />
      <RemoveExistingProducts Sequence="1480">GLUCATRACK_PREVIOUSVERSIONFOUND</RemoveExistingProducts>
      <InstallInitialize Sequence="1500" />
      <ProcessComponents Sequence="1600" />
      <UnpublishComponents Sequence="1680" />
      <UnpublishFeatures Sequence="1800" />
      <StopServices Sequence="1900">VersionNT</StopServices>
      <DeleteServices Sequence="1980">VersionNT</DeleteServices>
      <InstallServices Sequence="5800">VersionNT</InstallServices>
      <StartServices Sequence="5900">VersionNT</StartServices>
      <InstallFinalize Sequence="6600" />
      <Custom Action="ID1350" After="FileCost" />
      <Custom Action="ARP_HELPLINK" After="CostFinalize" />
      <Custom Action="ARP_COMMENTS" After="CostFinalize" />
      <Custom Action="ARP_URLINFOABOUT" After="CostFinalize" />
      <Custom Action="LaunchAppAfterInstall" After="InstallFinalize">Not Installed</Custom>
    </InstallExecuteSequence>
    
    <InstallUISequence>
      <Custom Action="ID1350" After="FileCost" />
      <Custom Action="ARP_HELPLINK" After="CostFinalize" />
      <Custom Action="ARP_COMMENTS" After="CostFinalize" />
      <Custom Action="ARP_URLINFOABOUT" After="CostFinalize" />
    </InstallUISequence>

    <!-- Files, services, registry entries -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="Program Files Folder">
        <Directory Id="APPLICATIONFOLDER" Name="[Manufacturer]">
          <Component Id="$(var.GlucaTrack.Communication.TargetFileName)" Guid="27c4885d-1eb2-4d10-af0d-3e8d0538fa2e">
            <File Id="ID_2d7f715b_d6ee_42c5_aa93_8e23f475a225" Source="$(var.GlucaTrack.Communication.TargetDir)\$(var.GlucaTrack.Communication.TargetFileName)" DiskId="1" Name="$(var.GlucaTrack.Communication.TargetFileName)" Vital="yes"/>
          </Component>
          <Component Id="$(var.GlucaTrack.Services.Common.TargetFileName)" Guid="c7d14f40-37b8-4036-9a3a-ad829ac1fd4b">
            <File Id="ID_d73d6441_ff11_48ae_ad2b_fb6441119869" Source="$(var.GlucaTrack.Services.Common.TargetDir)\$(var.GlucaTrack.Services.Common.TargetFileName)" DiskId="1" Name="$(var.GlucaTrack.Services.Common.TargetFileName)" Vital="yes" />
          </Component>
          <Component Id="$(var.GlucaTrack.Services.Windows.TargetFileName)" Guid="247b35e6-a946-4b28-86b5-520e01a144f8">
            <ServiceInstall Id="ID1004"
                            Description="Monitoring and management service for [Manufacturer] diabetes management software."
                            ErrorControl="ignore"
                            Interactive="no"
                            Name="GlucaTrack Detector"
                            Account="[SERVICEACCOUNT]"
                            Password="[SERVICEPASSWORD]"
                            Start="auto"
                            Type="ownProcess"
                            Vital="yes">
                <util:ServiceConfig xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
                    FirstFailureActionType="restart"
                    SecondFailureActionType="restart"
                    ThirdFailureActionType="restart"
                    ResetPeriodInDays="1"
                    RestartServiceDelayInSeconds="20" />
            </ServiceInstall>
            <ServiceControl Id="StartService" Start="install" Stop="uninstall" Remove="uninstall" Name="GlucaTrack Detector" Wait="yes" />
            <File Id="ID_a75e9a7d_62c9_494b_9bfd_97375598872c" Source="$(var.GlucaTrack.Services.Windows.TargetDir)\$(var.GlucaTrack.Services.Windows.TargetFileName)" DiskId="1" Name="$(var.GlucaTrack.Services.Windows.TargetFileName)" Vital="yes" />
          </Component>
          <Component Id="$(var.UsbLibrary.TargetFileName)" Guid="77cb8394-b039-47cf-aa90-12c546f561f0">
            <File Id="ID_f91969e3_fd8b_4812_946b_74658199c76f" Source="$(var.UsbLibrary.TargetDir)\$(var.UsbLibrary.TargetFileName)" DiskId="1" Name="$(var.UsbLibrary.TargetFileName)" Vital="yes" />
          </Component>
          <Component Id="$(var.GlucaTrack.Services.Windows.NotifyIcon.TargetFileName)" Guid="2a753a90-8318-44b3-a1c5-a0276630d054">
            <File Id="ID_435d5775_f4d0_445f_b5d4_f25fdf36b946" Source="$(var.GlucaTrack.Services.Windows.NotifyIcon.TargetDir)\$(var.GlucaTrack.Services.Windows.NotifyIcon.TargetFileName)" DiskId="1" Name="$(var.GlucaTrack.Services.Windows.NotifyIcon.TargetFileName)" Vital="yes" />
            <RemoveFile Id="ID_435d5775_f4d0_445f_b5d4_f25fdf36b946_remove" Name="ID_435d5775_f4d0_445f_b5d4_f25fdf36b946_remove" On="uninstall"/>
          </Component>
          <Component Id="$(var.GlucaTrack.Services.Windows.TargetFileName).config" Guid="D73CAA94-4670-419B-9320-8DE46E52BC02">
            <File Id="ID_52D7679F_E573_4944_B8F3_CB129B7F7CFC" Source="$(var.GlucaTrack.Services.Windows.TargetDir)\$(var.GlucaTrack.Services.Windows.TargetFileName).config" DiskId="1" Name="$(var.GlucaTrack.Services.Windows.TargetFileName).config" Vital="yes" />
          </Component>
          <Component Id="Icon" Guid="583c402c-27e9-4b82-ad66-b985fe6d3d28">
            <File Id="ID_88003fd3_f8df_410e_bbde_b59114102d1e" Source="$(var.GlucaTrack.Services.Windows.NotifyIcon.ProjectDir)\blood.ico" DiskId="1" Name="blood.ico" Vital="yes" />
          </Component>

          <!-- Registry -->
          <Component Id="Registry" Guid="46243188-c17f-405a-bacf-e92d89430f00">
            <!-- Auto run on startup -->
            <RegistryValue Id="RunOnStartup.reg" Root="HKCU" KeyPath="yes" Action="write"
                Key="Software\Microsoft\Windows\CurrentVersion\Run"
                Name="[Manufacturer] Windows Service"
                Value="[#ID_435d5775_f4d0_445f_b5d4_f25fdf36b946]"
                Type="string"/>
            <!-- store install path -->
            <RegistryValue Root="HKCU"
                Key="Software\GlucaTrack\[Manufacturer] Windows Service"
                Name="path"
                Type="string"
                Value="[APPLICATIONFOLDER]" />
            <Condition>ASSISTANCE_START_VIA_REGISTRY</Condition>
            <RemoveFolder Id="APPLICATIONFOLDER" On="uninstall" />
          </Component>
        </Directory>
      </Directory>
    </Directory>
    
    <!-- Feature groupings -->
    <Feature Id="ID70213A2C1BC5D3E92D129ADE567EBE26" Title="[Manufacturer]" Level="1" Description="The complete package" InstallDefault="local" ConfigurableDirectory="APPLICATIONFOLDER">
      <Feature Id="SERVICE" Title="[Manufacturer] Service" Level="1" Description="The Main Executable" InstallDefault="local">
        <ComponentRef Id="$(var.GlucaTrack.Communication.TargetFileName)" />
        <ComponentRef Id="$(var.GlucaTrack.Services.Common.TargetFileName)" />
        <ComponentRef Id="$(var.GlucaTrack.Services.Windows.TargetFileName)" />
        <ComponentRef Id="$(var.UsbLibrary.TargetFileName)" />
        <ComponentRef Id="$(var.GlucaTrack.Services.Windows.NotifyIcon.TargetFileName)" />
        <ComponentRef Id="$(var.GlucaTrack.Services.Windows.TargetFileName).config" />
        <ComponentRef Id="Icon" />
        <ComponentRef Id="Registry" />
      </Feature>
    </Feature>
    
    <UI>
      <UIRef Id="WixUI_Advanced"/>
    </UI>
    
  </Product>
</Wix>