<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BMeterComm.Properties.Settings.glucatrackConnectionString"
            connectionString="Data Source=www.glucatrack.com;Initial Catalog=glucatrack;Persist Security Info=True;User ID=glucatrack;Password=1glucatrack"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>