<?xml version="1.0"?>
<configuration>

  <configSections>
  </configSections>
  <connectionStrings>
    <add name="glucatrackConnectionString" connectionString="Data Source=www.glucatrack.com;Initial Catalog=glucatrack;Persist Security Info=True;User ID=glucatrack;Password=1glucatrack"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    
    <bindings />
    <behaviors>
        <serviceBehaviors>
            <behavior name="">
                <serviceMetadata httpsGetEnabled="true"/><!--httpGetEnabled="true"-->
                <serviceDebug includeExceptionDetailInFaults="true" />
                <useRequestHeadersForMetadataAddress>
                  <defaultPorts>
                    <add port="80" scheme="http" />
                    <add port="443" scheme="https" />
                  </defaultPorts>
                </useRequestHeadersForMetadataAddress>
            </behavior>
        </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
