<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IGTService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.BloodSpider.com/Service/GTService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGTService"
                contract="WebService.IGTService" name="BasicHttpBinding_IGTService" />
        </client>
    </system.serviceModel>
</configuration>