/* Grid style */
.mGrid { 
    width: 100%; 
    background-color: #fff; 
    margin: 5px 0 10px 0; 
    border: solid 1px #525252; 
    border-collapse:collapse; 
}
.mGrid td { 
    padding: 2px; 
    border: solid 1px #c1c1c1; 
    color: #717171; 
    font-weight: 600;
}
.mGrid th { 
    padding: 4px 2px; 
    color: #fff; 
    background: #424242 url(../Images/grid_style/grd_head.png) repeat-x top; 
    border-left: solid 1px #525252; 
    font-size: 0.9em; 
    font-weight: 600;
}
.mGrid .alt { background: #fcfcfc url(../Images/grid_style/grd_alt.png) repeat-x top; }
.mGrid .pgr { background: #424242 url(../Images/grid_style/grd_pgr.png) repeat-x top; }
.mGrid .pgr table { margin: 5px 0; }
.mGrid .pgr td { 
    border-width: 0; 
    padding: 0 6px; 
    border-left: solid 1px #666; 
    font-weight: bold; 
    color: #fff; 
    line-height: 12px; 
 }
.mGrid .pgr a { color: #666; text-decoration: none; }
.mGrid .pgr a:hover { color: #000; text-decoration: none; }


/* Page content */
.GridHolder {
    overflow: auto; 
    height: 230px; 
    width: 525px;
}
